@import '../../../../common/common';

#mail-detail {
 @media (min-width: 800px) {
    .back-to-mail {
        display: none;
    }
 }
 @media (max-width: 600px) {
    .mail-details-actions {
        .material-icons {
            font-size: 18px;
            height: 18px;
            width: 18px;
        }
        padding: 0px;
        margin-top: -10px;
    }
    .back-to-mail {
        width: 35px;
        height: 35px;
        line-height: 35px;
    }
    .detail-header {
        h3 {
            font-size: 18px;
        }
    }
    .mail-info {
        h4  {
            font-size: 15px;
        }
        .attachment {
            a {
                text-decoration: none;
                color: #6A6A6A;
                &:hover {
                    color: #23527c;
                }
            }
        }
    }
    .email-detail-pane {
        padding-top: 20px;
    }
    vnc-avatar {
        .avatar {
            font-size: 12px;
            width: 24px;
            height: 24px;
            line-height: 24px;
        }
    }
}


 .back-to-mail {
    position: fixed;
    bottom: 25px;
    left: 25px;
    transition: bottom .33s ease-in-out;
 }
 .back-to-mail.show {
     bottom: -100px;
 }
 &.email-detail-pane{
     overflow: hidden;
     padding-top: 35px;
     .email-detail-header-row {
         padding-left: 10px;
         padding-right: 10px;
     }
     .detail-header{
         h3{
             word-break: break-all;
             margin: 0 0 3px;
             font-weight: 400;
             color: #4a4a4a;
             text-transform: capitalize;
         }
         p{
             color: #acacac;
         }
     }
     .mail-detail{
         overflow: hidden;
         //overflow-y: auto;
     }
     .email-detail-info{
         border-bottom: 2px solid #d4d4d4;
         background: #fafafa;
        .collapse-div{
            outline: none;
        }
        .mail-info{
             h4 {
                 text-transform: capitalize;
                 margin: 0;
             }
             p {
                 margin: 0;
                 font-weight: 100;
             }
             span {
                 text-transform: capitalize;
                 color: #c8c8c8;
                 font-size: 12px;
                 i {
                     cursor: pointer;
                 }
             }
             .mail-info-inner {
                position: relative;
                overflow: hidden;
                cursor: pointer;
                .mail-info-inner-detail{
                     opacity: 0;
                     padding: 0;
                     display: none;
                     border-radius: 3px;
                     position: absolute;
                     left: -15px;
                     width: 100%;
                     z-index: 1000;
                     background-color: white;
                     transition: all .4s cubic-bezier(.25,.8,.25,1);
                     transition-duration: 200ms;
                     transform-origin: left top 0px;
                     box-shadow: 1px 2px 0px -1px rgba(0,0,0,.2),0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12);
                     td{
                         padding: 10px 0 10px 10px;
                         font-size: 11px;
                     }
                     .first{
                         width: 20%;
                         color: $mail-grey;
                         text-align: right;
                     }
                     .last{
                         color: $mail-dark-grey;
                         width: 80%;
                         text-align: left;
                     }
                }
                &.active{
                     .mail-info-inner-detail{
                         opacity: 1;
                         display: table;
                         visibility: visible;
                         transition: all .4s cubic-bezier(.25,.8,.25,1);
                     }
                }
                i {
                    position: absolute;
                    top: -5px;
                }
             }
             .attachment-opt{
                text-decoration: underline;
                padding: 0 5px;
                 &.border{
                     border-right: 1px solid blue;
                 }
             }
        }
        .mail-detail-menu {
            margin:0;
            .md-button{
                padding:0;
                margin:0;
            }
            .md-menu {
                margin:0;
                padding: 0;
            }
        }
        .detail-content {
            padding: 10px;
        }
        .mail-details-actions {
            button, .md-menu {
                padding: 0;
                margin: 0;
            }
        }
     }
     .email-detail-info:nth-child(1) {
         margin-top: 2em;
         border-top: 2px solid #d4d4d4
     }
     .comma::after {
         content: ', ';
     }
 }
}

@media (max-width: 600px) {
    #mail-detail.email-detail-pane {
        padding-top: 20px!important;
    }
}
