<div class="preferences-trusted-notification">
    <div layout="column" layout-margin>
        <div class="block">
            <md-toolbar class="demo-toolbar md-primary">
                <div class="md-toolbar-tools">
                    <h2><span translate="PREFERENCES.NOTIFICATIONS"></span></h2>
                </div>
            </md-toolbar>
            <div class="block-content">
                <div class="block-item" layout="row">
                    <div class="m-text" flex="25">
                        <span class="m-text" translate="PREFERENCES.NOTIFY"></span>
                    </div>
                    <md-input-container flex="50">
                        <input type="email" placeholder="e.g. bob@example.com">
                    </md-input-container>
                </div>
            </div>
        </div>
    </div>
</div>
