<md-dialog class="contactFilterdialog">
    <div class="dialogMargin">
        <div layout class="contactFilterMargin">
            <div layout="column" flex=20 class="alphaFilter" id="all" ng-click="vm.selectFilter =false; vm.filterValue='ALL'; contactPagination('all','')">ALL</div>
            <div layout="column" flex=20 class="alphaFilter" id="a" ng-click="vm.selectFilter =false; vm.filterValue='A'; contactPagination('A','A','B')">A</div>
            <div layout="column" flex=20 class="alphaFilter" id="b" ng-click="vm.selectFilter =false; vm.filterValue='B'; contactPagination('B','B','C')">B</div>
            <div layout="column" flex=20 class="alphaFilter" id="c" ng-click="vm.selectFilter =false; vm.filterValue='C'; contactPagination('c','C','D')">C</div>
            <div layout="column" flex=20 class="alphaFilter" id="d" ng-click="vm.selectFilter =false; vm.filterValue='D'; contactPagination('d','D','E')">D</div>
        </div>
        <div layout class="contactFilterMargin">
            <div layout="column" flex=20 class="alphaFilter" id="e" ng-click="vm.selectFilter =false; vm.filterValue='E'; contactPagination('e','E','F')">E</div>
            <div layout="column" flex=20 class="alphaFilter" id="f" ng-click="vm.selectFilter =false; vm.filterValue='F'; contactPagination('f','F','G')">F</div>
            <div layout="column" flex=20 class="alphaFilter" id="g" ng-click="vm.selectFilter =false; vm.filterValue='G'; contactPagination('g','G','H')">G</div>
            <div layout="column" flex=20 class="alphaFilter" id="h" ng-click="vm.selectFilter =false; vm.filterValue='H'; contactPagination('h','H','I')">H</div>
            <div layout="column" flex=20 class="alphaFilter" id="i" ng-click="vm.selectFilter =false; vm.filterValue='I'; contactPagination('i','I','J')">I</div>
        </div>
        <div layout class="contactFilterMargin">
            <div layout="column" flex=20 class="alphaFilter" id="j" ng-click="vm.selectFilter =false; vm.filterValue='J'; contactPagination('j','J','K')">J</div>
            <div layout="column" flex=20 class="alphaFilter" id="k" ng-click="vm.selectFilter =false; vm.filterValue='K'; contactPagination('k','K','L')">K</div>
            <div layout="column" flex=20 class="alphaFilter" id="l" ng-click="vm.selectFilter =false; vm.filterValue='L'; contactPagination('l','L','M')">L</div>
            <div layout="column" flex=20 class="alphaFilter" id="m" ng-click="vm.selectFilter =false; vm.filterValue='M'; contactPagination('m','M','N')">M</div>
            <div layout="column" flex=20 class="alphaFilter" id="n" ng-click="vm.selectFilter =false; vm.filterValue='N'; contactPagination('n','N','O')">N</div>
        </div>
        <div layout class="contactFilterMargin">
            <div layout="column" flex=20 class="alphaFilter" id="o" ng-click="vm.selectFilter =false; vm.filterValue='O'; contactPagination('o','O','P')">O</div>
            <div layout="column" flex=20 class="alphaFilter" id="p" ng-click="vm.selectFilter =false; vm.filterValue='P'; contactPagination('p','P','Q')">P</div>
            <div layout="column" flex=20 class="alphaFilter" id="q" ng-click="vm.selectFilter =false; vm.filterValue='Q'; contactPagination('q','Q','R')">Q</div>
            <div layout="column" flex=20 class="alphaFilter" id="r" ng-click="vm.selectFilter =false; vm.filterValue='R'; contactPagination('r','R','S')">R</div>
            <div layout="column" flex=20 class="alphaFilter" id="s" ng-click="vm.selectFilter =false; vm.filterValue='S'; contactPagination('s','S','T')">S</div>
        </div>
        <div layout class="contactFilterMargin">
            <div layout="column" flex=20 class="alphaFilter" id="t" ng-click="vm.selectFilter =false; vm.filterValue='T'; contactPagination('t','T','U')">T</div>
            <div layout="column" flex=20 class="alphaFilter" id="u" ng-click="vm.selectFilter =false; vm.filterValue='U'; contactPagination('u','U','V')">U</div>
            <div layout="column" flex=20 class="alphaFilter" id="v" ng-click="vm.selectFilter =false; vm.filterValue='V'; contactPagination('v','V','W')">V</div>
            <div layout="column" flex=20 class="alphaFilter" id="w" ng-click="vm.selectFilter =false; vm.filterValue='W'; contactPagination('w','W','X')">W</div>
            <div layout="column" flex=20 class="alphaFilter" id="x" ng-click="vm.selectFilter =false; vm.filterValue='X'; contactPagination('x','X','Y')">X</div>
        </div>
        <div layout class="contactFilterMargin">
            <div layout="column" flex=20 class="alphaFilter" id="y" ng-click="vm.selectFilter =false; vm.filterValue='Y'; contactPagination('y','Y','Z')">Y</div>
            <div layout="column" flex=20 class="alphaFilter" id="z" ng-click="vm.selectFilter =false; vm.filterValue='Z'; contactPagination('z','Z')">Z</div>
            <div layout="column" flex=20 class="alphaFilter" id="num" ng-click="vm.selectFilter =false; vm.filterValue='123'; contactPagination('num','0','A')">123</div>
        </div>
    </div>
</md-dialog>
