@import '../common';

.md-padding{
    padding: 16px;
    .card{
        margin: 8px;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
        border-radius: 3px;
        .card-image{
            @include border-radius(2px);
            width: 100%;
            height: auto;
            object-fit: cover;
        }
        .card-content {
            h2{
                font-size: 20px;
                font-weight: 500;
                letter-spacing: .005em;
                margin-bottom: 1rem;
                margin-top: 1rem;
                text-transform: capitalize;
            }
            p{
                font-size: 1.6rem;
                font-weight: 400;
                letter-spacing: 0.010em;
                line-height: 1.6em;
                margin: 0.8em 0 1.6em;
            }
        }
        .actions{
            button{
                border-radius: 3px;
                outline: 0;
                border: 0;
                display: inline-block;
                padding: 0 6px;
                margin: 6px 8px;
                line-height: 36px;
                min-height: 36px;
                background: 0 0;
                min-width: 88px;
                text-align: center;
                text-transform: uppercase;
                font-weight: 500;
                font-size: 14px;
                transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
                &:hover{
                    background-color: rgba(158,158,158,0.2);
                }
            }
        }
    }
}
