<div class="modal-header">
    <h4 class="modal-title">Warning</h4>
</div>
<div class="modal-body">
    <i class="fa fa-exclamation-triangle delete-appt-icon"></i>
    <p>This action will delete all items in Email, Contacts, Calendar, Tasks and Briefcase trash folders. Are you sure that you want to permanently delete everything in these trash folders?</p>
</div>

<!-- Footer buttons -->
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
</div>
