/*************************************
 *
 *
 * Modal Main File
 *
 *
 **************************************/


//.compose-task{
//    background-color: #fafafa;
//    //padding:24px;
//    .modal-header{
//        background-color: #022A43 !important;
//        padding: 15px 15px;
//        color: #fff;
//        border: 0;
//        font-size: 18px;
//        i{
//            float: right;
//        }
//    }
//    .modal-body {
//        img{
//            border-radius: 20px;
//            margin-bottom: -27px;
//            width: 40px !important;
//            height:40px !important;
//        }
//
//        .modal-text {
//            .select-div{
//                background: none;
//                border: none;
//                border-bottom: 2px solid #ededed;
//                width: 100%;
//                color: #bebebe;
//                font-size: 0px;
//                padding: 0 0 0px;
//                input[type="text"]{
//                    border-bottom: none;
//                }
//                &::selection{
//                    border-bottom: 2px solid black;
//                }
//                &:active{
//                    border-bottom: 2px solid black;
//                }
//                &:hover{
//                    border-bottom: 2px solid black;
//                }
//            }
//            input[type="text"] {
//                background: none;
//                border: none;
//                border-bottom: 2px solid #ededed;
//                width: 100%;
//                color: #bebebe;
//                font-size: 13px;
//                padding: 0 0 5px;
//                &:focus {
//                    outline:none;
//                    color:#444;
//                    border-color:#022a43;
//                }
//                .select-sender {
//                    background: #F0F0F0;
//                    border-radius: 20px;
//                }
//            }
//            input[type="date"] {
//                background: none;
//                border: none;
//                border-bottom: 2px solid #ededed;
//                width: 100%;
//                color: #bebebe;
//                font-size: 13px;
//                padding: 0 0 5px;
//                &:focus {
//                    outline:none;
//                    color:#444;
//                    border-color:#022a43;
//                }
//                .select-sender {
//                    background: #F0F0F0;
//                    border-radius: 20px;
//                }
//            }
//            label {
//                margin-top: 4px;
//                display: block;
//                color: #173b53;
//                font-size: 14px;
//                padding: 0 0 2px;
//                margin: 0;
//                font-weight: normal;
//                opacity: 0;
//
//
//            }
//            .display-label {
//                padding: 0 0 2px;
//                margin-top: 4px;
//                opacity: 1;
//            }
//        }
//        .modal-select {
//            .dropdown {
//                .btn-default {
//                    background: none;
//                    border: none;
//                    border-bottom: 2px solid #ededed;
//                    width: 100%;
//                    color: #bebebe;
//                    font-size: 14px;
//                    padding: 0 0 5px;
//                    border-radius: 0;
//                    margin: 25px 0 0;
//                    &:focus {
//                        outline: none;
//                        color: #444;
//                        border-color: #022a43;
//                    }
//                    &:active {
//                        box-shadow:none;
//                        -webkit-box-shadow:none;
//                    }
//                }
//            }
//            ul.dropdown-menu {
//                border-radius:5px;
//                -webkit-border-radius:5px;
//                background:#fff;
//                margin:0;
//                padding:0;
//                width:100%;
//                li {
//                    padding: 10px 15px;
//                    font-size: 16px;
//                    color: #575757;
//                    cursor: pointer;
//                    &.divider {
//                        padding: 0;
//                    }
//                    &:hover {
//                        background:#eee;
//                    }
//                }
//            }
//        }
//
//    }
//
//    .modal-footer {
//        border:none;
//
//        padding:24px;
//        &.green-btns {
//            .btn-create {
//                background: #6da31a;
//                color: #fff;
//                &:disabled {
//                    background:#f1f1f1;
//                    color:#b4b4b4;
//                }
//            }
//            .btn-cancel {
//                color: #6da31a;
//                &:disabled {
//                    color:#b4b4b4;
//                }
//            }
//        }
//        .no-border{
//            border:0px !important;
//        }
//
//        .mail-icons{
//            margin-top: 21px;
//            float: left;
//            .margin-8{
//                margin-right: 8px;
//            }
//            .clip-rotate{
//                -ms-transform: rotate(132deg) !important; /* IE 9 */
//                -webkit-transform: rotate(132deg) !important; /* Chrome, Safari, Opera */
//                transform: rotate(132deg) !important;
//            }
//        }
//    }
//    .txt-area{
//    border-bottom:2px solid #ededed !important;
//    border-top:0px !important;
//    border-left:0px !important;
//    border-right:0px !important;
//    }
//    .txt-area:focus{
//    border-bottom:2px solid #001522 !important;
//    border-top:0px !important;
//    border-left:0px !important;
//    border-right:0px !important;
//    }
//    .bold-text{
//        font-weight: bold;
//    }
//    textarea{
//        background-color: #FAFAFA !important;
//    }
//}
//
//.textbox-height{
//	height : 34px;
//	width : 250px;
//}
//
//.composepadding{
//	padding-bottom: 5px;
//}
//
//.modal {
//    top:-2%;
//}
//
//.reminderCheckbox{
//    padding-top: 2%;
//    padding-right: 0px;
//}
//
//.form-control{
//    height: 33px;
//}
//
//.progressTextbox{
//    width: 70px;
//}
//
//.progressTextboxPadding{
//    padding-left: 0px;
//}
//
//.configurePadding{
//    padding-left: 130px;
//}
//
//.progressDropdown{
//    border: none;
//    border-radius:none;
//    -webkit-box-shadow:none;
//    box-shadow: none;
//}
//.selectAttachment{
//    cursor: pointer;
//}
//
//.keyPressClass{
//    background-color: white;
//}
//
//.beforeKeyPressClass{
//    background-color: #E6D461;
//}
//
//.statusPadding{
//    padding-left: 0px;
//    padding-right: 0px;
//}
//
//.statusDropDownSize{
//    width:190px;
//}
//.md-dialog-container{
//  //z-index: 1050 !important;
//}

.md-dialog ,.md-default-theme, .md-dialog{
  max-width: 100% !important;
}

md-input-container.md-block{
    margin-bottom: 0;
}
.md-datepicker-input-container {
    display: block;
    z-index: 2000;
}
.margin-bottom-32 {
    margin-bottom: 32px !important;
}
.custom-label{
    margin-top: 3px;
    font-size: 12px;
    text-align: center;
    color: rgba(0,0,0,0.54);
}
.inline-label{
    margin-top: -16px;
}
.no-horizantal{
    overflow-x: hidden !important;
}
