@import '../../../common/common';

.calendar-toolbar {
    border-right: 1px solid #cdcdcd;
    i {
        cursor: pointer;
    }
    .btn-bar {
        padding: 15px 0;
        background: #fafafa;
        button {
            color: #fff;
            background: #022a43;
            border: none;
            padding: 5px 9px;
            margin-right: 3px;
            @include border-radius(3px);

            &.btn-selecting {
                background: $color-success;
            }
        }
    }
}
