@import '../../../common/common';

// Iphone six is max mobile viewport
/* Portrait */
// TODO: This is a hack to get us ready for friday demo! Using !important is bad practice
@media (max-width: 800px) {
    .summary-pane {
        position: fixed !important;
        flex: 1 !important;
        left: 0vw !important;
        height: 100vh !important;
        width: 100vw !important;
        max-width: 100vw !important;
        max-height: 100vh !important;
        z-index: 99 !important;
        .read-Unread-parent {
            flex: 0 !important;
        }
        vnc-avatar {
            display: none;
        }
        .summary-pane-detail {
            width: 100% !important;
            height: 100% !important;
            max-width: 100% !important;
            min-width: 100% !important;
        }
    }
    .email-detail-pane.show {
        right: 0vw !important;
    }
    .email-detail-pane {
        position: fixed !important;
        flex: 1 !important;
        right: -101vw !important;
        height: 100vh !important;
        width: 100vw !important;
        max-width: 100vw !important;
        max-height: 100vh !important;
        z-index: 99 !important;
        background-color: #FAFAFA;
        border-left: 1px solid #cdcdcd;
    }

    .read-Unread-parent {
        display: none;
    }
}

.mail {
    margin: 0;
    padding: 0;
    .md-menu {
        padding: 0;
        .md-button {
            line-height: 23px;
            min-height: 24px;
        }
    }
   .sort-separator {
        height: 42px;
    }

    .sort-position {
        background: #e0e0e0;
        padding: 2px 0;
        color: #868686;
    }
    .summary-pane {
        border-right: 1px solid #cdcdcd;
        .btn-bar {
            background: #fafafa;
            .mark-all{
                margin-left: 9px;
                margin-top: 14px;
            }
            .bg-blue {
                background: #022a43;
                border: none;
                padding: 2px;
                margin-right: 5px;
                @include border-radius(3px);
                &.disabled-class{
                    background: buttonface;
                    cursor: default;
                    i{
                     cursor: default;
                    }
                }
            }
        }
        .summary-pane-mails {
            overflow: hidden;
        }
        .sort-heading{
            background: #e0e0e0;
            text-transform: capitalize;
            width: 100%;
            padding: 10px 15px;
            color: #868686;
        }
        .unread-color{
            background-color: #E3F2FD !important;
        }
        .list-item {
            padding: 10px 0;
            color: #3c3c3c;
            background: #ffffff;
            border-bottom: 1px solid #cdcdcd;
            .u-check{
                margin-right: 23px;
                margin-top: 32px;
                margin-left: 12px;
            }
            .avatar-img, .avatar-sm{
                width: 35px !important;
                height: 35px !important;
                line-height: 35px !important;
                margin-right: 5px;
            }
            &:last-child{
                .summary-pane-detail {
                    border-bottom: none;
                }
            }
            .summary-pane-detail {
                padding: 0 10px 0 5px;
                &.Unread {
                    color: inherit;
                    .conv-date {
                        font-weight: bold;
                        color: #000000;
                    }
                    .name {
                        font-weight: bold;
                    }
                    .cnv-content {
                        color: #000000;
                    }
                    .cnv-subject {
                        font-weight: bold;
                    }
                }
                .name {
                    float: left;
                    height: 30px;
                    font-size: 16px;
                    line-height: 30px;
                    font-weight: 500;
                    text-transform: capitalize;
                    margin: 0 0 5px;
                    .rotate{
                        color: inherit;
                        float: right;
                        height: 9px;
                        width: 15px;
                        margin-left: 7px;
                        margin-top: 8px;
                        transition: 0.2s ease-in-out;
                        -ms-transform: rotate(90deg); /* IE 9 */
                        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
                        transform: rotate(90deg);
                    }
                    span {
                        line-height: 30px;
                        vertical-align: middle;
                    }
                    .mail-chain-count-circle {
                        display: inline-block;
                        margin-right:5px;
                        margin-left:5px;
                        .mail-chain-count {
                            background:$nav-gray;
                            color: white;
                            border-radius: 3px;
                            padding: 4px;
                            font-size: 12px;
                            line-height: 30px;
                        }
                    }
                }
                span {
                    .glyphicon-paperclip {
                        -ms-transform: rotate(42deg); /* IE 9 */
                        -webkit-transform: rotate(42deg); /* Chrome, Safari, Opera */
                        transform: rotate(42deg);
                        margin-right: 8px;
                    }
                }
                .name {
                    transition: all .25s ease-in-out;
                }
                .cnv-content{
                    color: #b2b3ae;
                    font-size: 12px;
                    transition: all .25s ease-in-out;
                }
                .cnv-subject{
                    margin: 0;
                    text-transform: capitalize;
                    font-size: 16px;
                    font-weight: 500;
                    color: #b2b3ae;
                    transition: all .25s ease-in-out;
                }
                .conv-date{
                    color: #b2b3ae;
                    margin-top: 8px;
                    text-align: center;
                    transition: all .25s ease-in-out;
                    font-size: 12px;
                }

                .action-icons {
                    text-align: center;
                    .kebab-icon {
                        button {
                            width: 18px !important;
                            margin: 0;
                            padding: 0;
                        }
                    }
                    @include md-checkbox-12;
                }
            }
            .single-mail-item{
                .single-mail-item-image{
                    margin-top: 5px;
                }
                .single-mail-pane{
                    padding: 7px 15px;
                    border-bottom: 1px solid #cdcdcd;
                    .msg-name{
                        font-size: 12px;
                        text-transform: capitalize;
                        float: left;
                    }
                    .msg-date{
                        float: right;
                        margin-top: 10px;
                        color: #b2b3ae;
                    }
                }
                &.active{
                    border-left: 3px solid #022a43;
                    background: #ddedc8 !important;
                }
            }
            &.is-collapse{
                border-left: 3px solid #022a43;
                background: #f1f7e9;
                .single-mail-item{
                    background: #f1f7e9;
                }
            }
            &.active {
                border-left: 8px solid #ffa500;
                background: #607d8b;
                .name, .cnv-subject, .cnv-content, .conv-date, .material-icons {
                    color: #FFFFFF;
                }
            }
        }
    }
    .email-detail-pane{
        padding: 60px 0px;
        transition: right .33s ease-in-out;
    }
    .comma::after {
        content: ', ';
    }
    .menu-border{
        border-bottom:1px solid $light-gray;
    }
    .sort-actions{
        span.icon{margin-right: 30px;}
    }
    .sort-actions-icon{
        span.icon{
            margin-right: 15px;
            float: left;
        }
    }
}
.read-Unread-parent{
    position: relative;
    .read-Unread{
        position: absolute;
        left: 6px;
        top: 3px;
    }
}
.mail-fullscreen{
    .modal-dialog{
        width: 95%;
    }
}

.starred-icon {
    color: #FFA500;
}
.unread-icon {
    color: #009688
}
