.content {
	background: #fafafa;
	height: 100%;
}

#login {
	* { box-sizing:border-box; }
	hgroup {
		text-align:center;
		padding-top: 4em;
		width: 100%;
		.logo-login-page {
			width: 300px;
			margin: 0 auto;
			i {
			    float: left;
    			font-size: 80px;
    			color: rgb(96,125,139);
			}
		}
		h1, h3 { font-weight: 300; }
		h1 { color: #636363; }

		h3 { color: #4a89dc; }
	}

	form {
		margin: 4em auto 2em;
		padding: 2em 1.5em 1.5em 1.5em;
		background: #ffffff;
		border: 1px solid #ebebeb;
		box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 1px 0px,rgba(0, 0, 0, 0.09804) 0px 1px 2px 0px;
	}

	footer {
		width: 380px;
	    margin: 0 auto;
	    padding: 0 0 10px 0;
		.support {

		}
		.copyright {
			margin-top: 10px;
			text-align: center;
		}
	}
}


.supportAlign{
	text-align: center !important;
}

.supportCss{
	-webkit-transform: translate3d(0, 6px, 0) scale(0.75);
transform: translate3d(0, 6px, 0) scale(0.75);
}

@media (min-width: 600px) {
	#login {
		form {
			width: 380px;
		}
	}
}
