/*************************************
 *
 *
 * Modal Main File
 *
 *
 **************************************/
@import '../../../common';

.move-folder {
    @include modal-container;
    .modal-header{

    }
    .folder-bordered {
        max-height: 223px;
        width: 100%;
        min-width: 100%;
        padding: 12px;
        border: 2px solid black;
        overflow-y: scroll;
        margin: 0 auto;
    }
}
